@import "flex";
@import "pos";
@import "box";
@import "color";
@import "text";
@import "hljs";
@import "anim";

body {
  min-height: 100vh;
  background: #eceff7;
  background: linear-gradient(135deg, #fbf6fe, #fff, #c6cedc);
}

a {
  color: #006eff;
  text-decoration: none;
}

.max-wrap {
  max-width: 1300px;
  margin: 0 auto;
}

.absolute-full {
  & > .scroll,
  .q-layout,
  .q-page-container {
    height: 100%;
  }
}

.hover-1 {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.85;
  }
}
.hover-show {
  visibility: hidden;
}
.hover-wrap:hover .hover-show {
  visibility: visible;
}

.s-mb-2 {
  margin-bottom: 2px;
}

@media screen and (min-width: 600px) {
  $msg_gap: 38px;
  .msg-item {
    padding-right: $msg_gap;
  }
  .msg-sent {
    padding-left: $msg_gap;
  }
}
