@import "flex";
@import "pos";
@import "box";
@import "color";
@import "text";
@import "hljs";
@import "anim";

body {
  min-height: 100vh;
  background: #eceff7;
  background: linear-gradient(135deg, #fbf6fe, #fff, #c6cedc);
}

a {
  color: #006eff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.max-wrap {
  max-width: 1300px;
  margin: 0 auto;
}

.absolute-full {
  & > .scroll,
  .q-layout,
  .q-page-container {
    height: 100%;
  }
}

.hover-1 {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.85;
  }
}

.s-mb-2 {
  margin-bottom: 2px;
}

.q-message-sent {
  margin-left: 40px;
}
.q-message {
  // margin-right: 20px;
  .q-message-container > div {
    // width: 100%;
    max-width: 600px;
  }
}
.q-message-text {
  min-width: 40px;
}
